.card {
  margin-top: 2rem;
}

.card_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

.todo_list {
  display: flex;
}

input[type="checkbox"] {
  align-self: center;
}

.todo {
  align-self: center;
  margin-left: 0.5rem;
  font-size: 1rem;
}